{% extends 'base.html' %}
{% block content %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="static/assets/CTK.jpeg" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold py-4 text-body-emphasis lh-1 mb-3 cormorant-garamond-medium-italic">About the artist CT Kao</h1>
        <p class="lead">Since 2007, Chien-Tzu Kao has immersed herself in the world of ceramics. She has experimented with colors, natural textures and organic shapes. Her ceramics pieces are as individual as a live being. <br>A mother of two grown musician daughters, she has found herself a new passion for ceramics and painting, placing the care of motherhood into the creation of these individual pieces.</p>
      </div>
    </div>
  </div>

{% endblock %}